/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2024) 
 * ----------------------------------------------------- 
*/

@define-color backgroundlight rgba(204, 255, 204, 0.6); /* Mint 60% transparency */
@define-color backgroundwhite #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color textcolor4 rgba(204, 255, 204, 0.6); /* Mint 60% transparency */
@define-color iconcolor #FFFFFF;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Noto Sans CJK JP", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    margin: 0px 0px;
    padding: 0px 0px;
    border-radius: 13px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: @textcolor1;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 0px;
    border-radius: 13px;
    border: 0px;
    color: @textcolor4;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @textcolor1;
    background: @backgroundlight;
    border-radius: 13px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 13px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: @backgroundwhite;
    opacity:0.8;
    padding: 10px;
    margin:0px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @backgroundlight;
    padding: 0px 5px;
    margin: 0px 0px;
    border-radius: 13px;
    color:@textcolor2;
    font-size:14px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 5px;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-browser, 
#custom-filemanager,
#network,
#pulseaudio,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4 {
    padding: 0px 0px;
    margin: 0px 0px;
    font-size:16px;
    color: @textcolor4;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @backgroundlight;
    padding: 0px 5px;
    margin: 0px 5px;
    color: @textcolor1;
    font-size:16px;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    padding: 0px;
    margin: 0px 10px 0px 0px;
    font-size:18px;
    color: @textcolor4;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    padding: 0px 0px;
    margin: 0px 0px;
    font-size:14px;
    color:@textcolor4;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @backgroundlight;
    padding: 0px 5px;
    margin: 0px 5px;
    font-size: 14px;
    color: @textcolor1;
    border-radius: 13px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: @backgroundlight;
    font-size: 14px;
    color: @textcolor2;
    border-radius: 13px;
    padding: 0px 5px;
    margin: 0px 10px;
}

#pulseaudio.muted {
    background-color: @backgroundlight;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @backgroundlight;
    padding: 0px 5px;
    margin: 0px 0px;
    font-size: 14px;
    color: @textcolor2;
    border-radius: 13px;
}

#network.ethernet {
    background-color: @backgroundlight;
    color: @textcolor2;
}

#network.wifi {
    background-color: @backgroundlight;
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @backgroundlight;
    font-size: 14px;
    color: @textcolor2;
    border-radius: 13px;
    padding: 0px 5px;
    margin: 0px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor2;
    background-color: @backgroundlight;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    padding: 0px 5px;
    margin: 0px 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

